
<section data-ng-controller="UserController"  data-ng-class="{mdoverlay: loginModalShown||signupModalShown}" data-ng-click="toggleModal()">
  <!-- Log In Modal 1 -->
  <div data-modal-login data-ng-if="loginModalShown" data-ng-blur="close()" >
  </div>
    <!-- Sign Up Modal 2 -->
  <div data-modal-signup data-ng-if="signupModalShown" >
  </div>
</section>
<!-- Search -->
<section>
  <form id="theForm" class="searchform" autocomplete="off">
    <div class="searchFormInner">
      <main>
        <label id="searchLabel" for="search">Search</label>
        <input id="search" name="search" type="search" placeholder="City, Neighborhood, or Zip Code">
      </main>
      <small class="howSearch">Search the online community to find and post yard sales.</small>
      <button class="submit" type="submit">Send answers</button>
      <div class="controls">
        <button class="next"></button>
        <div class="progress"></div>
      </div>
      <span class="error-message"></span>
    </div>
  </form>
</section>