<section data-ng-controller="UserController"  data-ng-class="{mdoverlay: loginModalShown||signupModalShown}" data-ng-click="toggleModal()">
  <!-- Log In Modal 1 -->
  <div data-modal-login data-ng-if="loginModalShown" >
  </div>
    <!-- Sign Up Modal 2 -->
  <div data-modal-signup data-ng-if="signupModalShown" >
  </div>
</section>
<!-- Search -->
<!--CHANGE SEARCH RESULTS CONTAINER ON CLICK-->
<section class="search-results-container" data-ng-controller="SearchController" data-ng-init="inItSearch()">
  <form class="searchform" autocomplete="off" data-ng-submit="searchForSales(sale.searchParams)">
    <div class="searchFormInner">
      <main>
        <!--CHANGE SEARCHLABEL ON CLICK-->
        <label id="searchLabel" for="search">Search</label>
        <input id="search" name="search" type="search" placeholder="City, Neighborhood, or Zip Code" data-ng-model="sale.searchParams">
      </main>
      <small class="howSearch">Search the online community to find and post yard sales.</small>
      <!-- enter and arrow end -->
      <button class="submit" type="submit">Send answers</button>
      <div class="controls">
        <button class="next"></button>
        <div class="progress"></div>
      </div>
      <span class="error-message"></span>
    </div>
  </form>
  <div class="search-results-view" data-search-results ng-if="sales"></div>
</section>
<div id="results"></div>
