<form class="sale_form" action="#" ng-model="saleInfo">
  <!-- creat your event -->
  <h4 class="create-event">Step One: Create Your Event</h4>
  <label for="eventname" data-type="event-input">Your Event Name</label>
  <input type="text" name="eventname" placeholder="event name" id="eventname" ng-model="saleInfo.title">
  <!-- address -->
  <!--  -->
   <label for="date" data-type="event-input">Date</label>
  <input type="date" name="date" step="7" min="2014-09-08">

  <!-- THIS IS DATE INPUT/ ADD ANGULAR -->

    <label for="time" data-type="event-input">Time</label>
  <input type="time" name="time" min="9:00" max="17:00" step="900">

  <!-- THIS IS TIME INPUT/ ADD ANGULAR -->
  <!--  -->
  <label for="address" data-type="event-input">address</label>
  <input type="text" name="address" placeholder="address" id="address" ng-model="saleInfo.address">
  <!-- city -->
  <label for="city" data-type="event-input">city</label>
  <input id ="city" type="text" name="city" placeholder="city" ng-model="saleInfo.city">
  <!-- state and zipcode in one line -->
  <div class="state_zip">
    <div id="state">
      <label for="state" data-type="event-input">state</label>
      <input  name="state" type="text" placeholder="state" ng-model="saleInfo.state">
    </div>
    <div id="zipcode">
      <label for "zipcode" data-type="event-input">zip code</label>
      <input name="zipcode" type="text" placeholder="zipcode" ng-model="saleInfo.zip">
    </div>
  </div>
  <aside>
    <label for="event_description" data-type="event-input">event description</label>
    <textarea maxlength="150" name="event_description" id="event_description" cols="30" rows="10" ng-model="saleInfo.description"></textarea>
  </aside>
  <!-- add key words to your event -->
  <section class="add-keywords">
    <p data-type="event-input">add keywords</p>
      <ul class="keywords-container">
        <li><input type="checkbox" name="kitchen" value="kitchen" id="kitchen" checked="checked"><label>kitchen</label></li>
        <li><input type="checkbox" name="livingroom" id="livingroom" value="livingroom" checked="checked">
        <label>living room</label></li>
        <li><input type="checkbox" id="bedroom" name="bedroom" value="bedroom">
        <label>bedroom</label></li>
        <li><input type="checkbox" name="diningroom" id="diningroom" value="diningroom">
        <label>dining room</label></li>
        <li><input type="checkbox" name="baby" id="baby" value="baby" >
        <label>baby</label></li>
        <li><input type="checkbox" name="outdoor" value="outdoor" id="outdoor">
        <label>outdoor</label></li>
        <!-- second column -->
        <li><input type="checkbox" name="furniture" value="furniture" id="furniture" checked="checked">
        <label>furniture</label></li>
        <li><input type="checkbox" name="sports" value="sports" id="sports">
        <label>sports</label></li>
        <li><input type="checkbox" name="clothes" value="clothes" id="clothes">
        <label>clothes</label></li>
        <li><input type="checkbox" name="books" value="books" id="books">
        <label>books</label></li>
        <li><input type="checkbox" name="utensils" value="utensils" id="utensils">
        <label>utensils</label></li>
        <li><input type="checkbox" name="toys" value="toys" id="toys" checked="checked">
        <label>toys</label></li>
        <!-- third column -->
        <li><input type="checkbox" name="travel" value="travel" id="travel" checked="checked">
        <label>travel</label></li>
        <li><input type="checkbox" id="decor" name="decor" value="decor">
        <label>decor</label></li>
        <li><input type="checkbox" id="tools" name="tools" value="tools">
        <label>tools</label></li>
        <li><input type="checkbox" id="appliances" name="appliances" value="appliances">
        <label>Appliances</label></li>
        <li><input type="checkbox" id ="garden" name="garden" value="garden">
        <label>Garden</label></li>
        <li><input type="checkbox" name="crafts" value="crafts" id="crafts">
        <label>Crafts</label></li>
    </ul>
  </section>
   <!-- link "upload photos next" -->
  <footer class="next-page">
    <div class="icon-menu">
      <a href="" data-ng-click="back()"><img class="back-icon" src="../../img/back.svg" >Back</a>
    </div>
    <div class="icon-menu">
      <a href="" data-ng-click="saveNewEvent(saleInfo, true)"><img class="save-icon" src="../../img/disk.svg">Save</a>
    </div>
    <div class="icon-menu">
      <a href="" data-ng-click="saveNewEvent(saleInfo, false)"><img class="next-icon" src="../../img/next.svg">Next</a>
    </div>
  </footer>
</form>
