<!-- sub nav container -->
<div id="user-profile-container" data-ng-controller="ProfileController" data-ng-init="getProfile()">
  <aside id="user-sticky-sub-nav">
  <!-- permanent sub nav -->
    <ul class="profile">
      <h4 data-type="profile-header">Your Profile<h4>
      <li><a class="user-event" data-ng-click="create()">Create Event</a></li>
      <li><a class="user-activity" data-ng-click="scrollTo('activity-log')">View Activity</a></li>
    </ul>
    <!-- dynamic sub nav -->
    <ul class="events">
      <h4 data-type="profile-header">Your Events</h4>
      <li ng-repeat="sale in sales">
        <a class="new-event" data-ng-click="scrollTo('sale'+ ($index+1))">Event {{$index + 1}}</a>
        <p data-type="e-title">{{sale.title}}</p>
      </li>
    </ul>
  </aside>

  <section id="user-directives-container" data-ng-switch="userDirectives">
    <div data-user-error-page data-ng-switch-when="userLoadError"></div>
    <div data-user-landing-page data-ng-switch-when="landingPage"></div>
    <div data-user-add-new-sale data-ng-switch-when="newSale"></div>
    <div data-user-upload-gallery data-ng-switch-when="uploadGallery"></div>
    <div data-user-landing-page data-ng-switch-default></div>
  </section>
</div>