<div class="photo_enlarge mdoverlay" >
  <form class="viewphoto photoModal">
    <!-- image -->
    <img data-ng-src="{{oneItem.img}}" alt="{{image.alt}}"><br>
    <!-- form -->
    <ol>
      <!-- title of the image -->
      <li class="image-view" data-id="image-title">
        <label for="image-title">Title</label><br>
        <p id="image-title">{{oneItem.title}}</p>
      </li>
      <!-- image description -->
      <li class="image-view" data-id="image-title">
        <label for="image-text">Description</label></br>
        <p id="image-text">{{oneItem.description}}</p>
      </li>
        <!--item condition -->
     <li class="image-view" data-id="image-title">
        <label for="image-condition">Condition</label><br>
        <p id ="image-condition">{{oneItem.condition}}</p><br>
      </li>
    </ol>
    <div id="view-image">
      <button data-id="image-save" data-ng-click="close()">Close</button>
    </div>
  </form>
</div>
