<div data-ng-controller="ViewEvent" class="vw-event-container" data-ng-init="initController()">
  <!-- user profile info bar -->
  <aside class="single-event">
      <h4 class="event-header"><strong> {{sale.title}}</strong></h4>
    <article class="event-info">
      <h4><strong>Date: </strong> {{(sale.dateStart  | date : 'mediumDate') + ' - ' + (sale.dateEnd  | date : 'mediumDate')}} </h4>
      <h4><strong>Time: </strong> {{(sale.timeStart  | date : 'shortTime') + ' - ' + (sale.timeEnd  | date : 'shortTime')}}</h4>
      <h4><strong>Description: </strong> {{sale.description}}</h4>
      <h4><strong>Location: </strong> {{sale.address}}</h4>
      <!-- back arrow start -->
        <div class="back-results">
        <img data-icon="back-result-arrow" src="../../img/arrow-left-peach.svg"data-ng-click="backToSearch()">Back to Results<div>
      <!-- back arrow end -->
    </article>
  <!-- take this code below-->
  <div data-view-item-detail data-ng-if="viewItemModalShown"></div>
  <aside class="thumb-gallery">
    <!-- container -->
    <form class="single-thumb" data-ng-repeat="item in items">
      <img class="img-template" data-ng-click="itemDetail(item)" data-ng-src="{{item.img}}" alt="{{image01}}">
      <ol data-type="image-details">
        <li class="image-view" data-id="image-title">
          <label for="view-input">Title</label>
          <div class="view-input">
             {{item.title}}
          </div>
        </li>
        <li class="image-view" data-id="image-title">
          <label for="view-text">Description</label>
          <div class="view-input">
             {{item.description}}
          </div>
        </li>
      </ol>
    </form>
    <!-- container ends  -->
  </aside>
</div>
