<div class="photo_enlarge mdoverlay" >
  <form class="view-detail photoModal">
    <!-- image container-->
    <div class="detail-image-container">
      <img data-ng-src="{{oneItem.img}}" alt="{{image.alt}}">
    </div>
    <!-- item detail info -->
    <ol data-type="view-container">
      <!-- title -->
      <li class="view" data-id="image-title">
        <label for="item-info">Title</label><br>
        <p id="view-title">{{oneItem.title}}</p>
      </li>
      <!-- description -->
      <li class="view" data-id="image-title">
        <label for="item-info">Description</label></br>
        <p id="view-description">{{oneItem.description}}</p>
      </li>
        <!-- condition -->
     <li class="view" data-id="image-title">
        <label for="item-info">Condition</label><br>
        <p id ="view-condition">{{oneItem.condition}}</p><br>
      </li>
    </ol>
    <div id="view-image">
      <button data-id="image-save" data-ng-click="close()">Close</button>
    </div>
  </form>
</div>
