// Font Icon Source
@font-face {
  font-family: 'FontAwesome', sans-serif;
  src: url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts');
}

// Font Icon Sass Map
$icons: (
  plus: "\f055",
  minus: "\f056",
  arrow-down: "\f063",
  arrow-up: "\f062",
  chevron-up: "\f077",
  chevron-down: "\f078",
  map: "\f041",
  check: "\f00c",
  close: "\f00d",
  caret-up: "\f0d8",
  caret-down: "\f0d7",
  picture: "\f03e",
  tag: "\f02b",
  tags: "\f02c",
  upload: "\f0ee",
  edit: "\f040"
);

// Base styles for font icons
// Styles are included in Icon-Mixins.scss

$icon-styles: (
  font-family: "FontAwesome",
  font-style: normal,
  font-weight: normal,
  font-variant: normal,
  text-transform: none,
  speak: none,
  line-height: 1,
);
