@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot');
  src: url('../fonts/font-awesome/fontawesome-webfont.eot') format('embedded-opentype');
  src: url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff');
  src: url('../fonts/font-awesome/fontawesome-webfont.ttf') format('truetype');
  src: url('../fonts/font-awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font Icon Variables

$plus: "\f055";
$minus: "\f056";
$arrow-down: "\f063";
$arrow-up: "\f062";
$chevron-up: "\f077";
$chevron-down: "\f078";
$map: "\f041";
$check: "\f00c";
$close: "\f00d";
$caret-up: "\f0d8";
$caret-down: "\f0d7";
$picture: "\f03e";
$tag: "\f02b";
$tags: "\f02c";
$upload: "\f0ee";
$edit: "\f040";
