@import '../_mixin/flexbox-mixin'
@import '../_utility/em-function'

#main-app-header
	//flex child of body
	order: 1
	//flex parent
	@include flexbox
	@include flex-direction($value: column)

	#logo-container
		order: 1
		height: em(150px)
		padding-top: em(20px)

		.header-logo
			position: absolute
			width: em(275px)
			left: calc(50% - 275px/2)

	#nav
		order: 2
		@include flexbox
		@include justify-content($value: flex-end)
		@include flex-direction($value: row)

	&.home-view
		#logo-container
			order: 2
		#nav
			order: 1

#main-app-view
	order: 2