@import '../_mixin/vertical-align-mixin'
@import '../_mixin/input-placeholder-mixin'
@import '../_global/variables'
@import '../_mixin/flexbox-mixin'
@import '../_mixin/border-radius-mixin'
@import '../_utility/em-function'
@import '../_mixin/transition-mixin'

//Form component

.sale_form
  label
    text-transform: uppercase
    font-size: em(12px)
    font-weight: $font-weight--bold
    letter-spacing: 1px
    color: $color-font-primary

h4[class="create-event"],
p[data-type="event-input"],
  text-align: left
  color: $color-font-accent
  font-size: $base__font-size
  text-transform: uppercase
  letter-spacing: em(1px)

// all form input headers
label[data-type="event-input"]
  text-align: left

//align state and zip
.state_zip
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  #zipcode
    margin: 0 2%

//set the input field
input[name="eventname"],
input[name="address"],
input[name="city"],
input[name="state"],
input[name="zipcode"],
  height: em(30px)
  width: 80%
  margin: 1% em(1px)
  border: em(1px) solid $color-medgrey

//textarea
textarea[name="event_description"]
  width: 80%
  height: 20%
  -webkit-appearance: none
  border: em(1px) solid $color-medgrey
  

.keywords-container
  column-count: 3
  -webkit-column-count: 3 /* Chrome, Safari, Opera */
  -moz-column-count: 3 /* Firefox */
  li
    display: flex
    flex-flow: row wrap
    padding-bottom: em(10px)

footer[class="next-page"]
  @include flexbox
  @include flex-direction($value: row)
  @include justify-content($value: flex-end)
  width: 80%
  margin-right: em(150px)
  margin-top: em(40px)
  a
    color: $color-font-accent
    font-size: $base__font-size
    text-transform: uppercase
    letter-spacing: em(1px)
    padding-left: em(30px)
    &:hover
      color: $color-accent


