@import '../_mixin/vertical-align-mixin'
@import '../_mixin/input-placeholder-mixin'
@import '../_global/variables'
@import '../_mixin/flexbox-mixin'
@import '../_mixin/border-radius-mixin'
@import '../_utility/em-function'
@import '../_mixin/transition-mixin'
//@import '../_mixin/transform-mixin'
//  Profile Navigation

// logo
// #user-menu
//   justify-content: flex-start
//   border: em(1px) solid blue

// .small-nav
//   @include flexbox
//   border: em(1px) solid red


// .small-logo
//   margin: em(15px) em(15px)
//   border: em(1px) solid red

// img[data-id="profile-logo"]
//   padding-top: em(10px)
//   width: 100px

// // logout button
// .logout

// button[name="logout-btn"]
//   border: em(1px) solid red


// user's name greeting section

// .greeting
//   @include flexbox

// section[name"user-profile"]
//   font-size: $base__subhead
//   color: $color-drkgrey
//   font-weight: $font-weight--normal
//   text-align: center
//   width: 100%


// left sub nav

.sub-nav
  @include flexbox
  justify-content: space-between

.sub-container
  flex-basis: em(300px)

.user-event,
.user-activity
  color: white

.profile,
.events
  margin-right: em(10px)
  padding: em(20px) 0px em(20px) em(20px)
  background-color: $color-primary
  li
    padding-bottom: em(10px)

.events
  a
    color: white
    padding-bottom: em(10px)

.events
  background-color: $color-secondary

.profile
  background-color: $color-primary

// styling of icons and text in subnav

h4[data-type="profile-header"]
  padding-bottom: em(10px)
  color: $color-drkgrey
  text-transform: uppercase

a[class="user-event"]:before
  font-family: FontAwesome
  content: " \f02b"
  padding-right: em(10px)

a[class="user-event"]:hover
  color: $light-orange

a[class="user-activity"]:before
  font-family: FontAwesome
  content: " \f06e"
  padding-right: em(10px)

a[class="user-activity"]:hover
  color: $light-orange

a[class="new-event"]:before
  font-family: FontAwesome
  content: " \f02c"
  padding-right: em(10px)

a[class="new-event"]:hover
  color: $color-primary

p[data-type="e-title"]
  color: $color-drkgrey
  font-weight: $font-weight--bold
  font-size: 10px

// user's info container

.view-profile
  width: 100%
  justify-content: flex-start

section[class="user-info"]
  padding: em(10px) 0 em(10px) 0
  h4
    color: $color-font-accent
    padding-bottom: em(10px)
    text-align: left

ol[data-type="user-details"]
  li
    color: $color-font-primary
    padding-bottom: em(10px)
    text-align: left


// large dynamic info view

.activity-log
  border-top: $border_ltgrey
  padding: em(10px) 0 em(10px) 0

h4[class="activity-title"]
  color: $color-font-accent

p[class="activity"]
  color: $color-font-primary

.view-event
  @include flexbox
  flex-wrap: wrap
  align-items: flex-start
  border-top: $border_ltgrey
  margin-right: em(20px)

.gallery-title,
.activity-title
  color: $color-accent
  width: 50%
  justify-content: flex-start
  padding: em(10px) 0 em(10px) 0

h5[data-type="edit-event"]
  text-align: right
  width: 50%
  justify-content: flex-end
  padding: em(10px) 0 em(10px) 0
  a
    color: $color-teal
    &:hover
      color: $color-font-primary
      text-decoration: underline

h5[data-type="edit-event"]:after
  font-family: FontAwesome
  content: " \f040"
  color: $color-drkgrey
  padding-right: em(20px)
  padding: em(10px) 0 em(10px) 0

.gallery-grid
  flex-direction: row
  flex-wrap: wrap

.e-gallery
  float: left
  vertical-align: top
  height: em(150px)
  width: em(150px)
  margin: em(5px)
  background-color: $color-drkgrey
  @include border-radius(5px)

//Form component

main[class="sale_form"]
  background-color: blue
  display: flex
  flex-flow: column nowrap

//set fonts
.sale_form
  label
    text-transform: uppercase
    font-size: 12px
    font-weight: $font-weight--bold
    letter-spacing: 1px
    color: $color-font-primary
    display: inline-block
    &[for="eventname"],
    &[for="address"],
    &[for="city"],
    &[for="state_zip"],
    &[for="zipcode"],
    &[for="event_description"],
      padding: 1% 0
    &[for="eventname"],&[for="user_form_footer"]
      color: $color-primary
      font-weight: $font-weight--bold
      padding-bottom: 2%

//align state and zip
.state_zip
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  #zipcode
    margin: 0 2%

//set the input field
input[name="eventname"],
input[name="address"],
input[name="city"],
input[name="state"],
input[name="zipcode"],
  height: em(30px)
  width: 80%
  padding: em(5px) em(10px)
  maxlength: 50
  margin: 1% 1px
  border: 1px solid $color-medgrey

//textarea
textarea[name="event_description"]
  width: 80%
  height: 20%
  -webkit-appearance: none
  border: 1px solid $color-medgrey

//keywords
.keywords
  column-count: 3
  -webkit-column-count: 3 /* Chrome, Safari, Opera */
  -moz-column-count: 3 /* Firefox */
  li
    display: flex
    flex-flow: row wrap

//checkbox
li[type="checkbox"]
  -webkit-appearance: none
  -moz-appearance: none

//user_form_footer flys to the right
label
  a
    color: $color-primary
    text-decoration: none
    &:hover
      color: $color-secondary

