@import '../_mixin/vertical-align-mixin'
@import '../_mixin/input-placeholder-mixin'
@import '../_global/variables'
@import '../_mixin/flexbox-mixin'
@import '../_mixin/border-radius-mixin'
@import '../_utility/em-function'
@import '../_mixin/transition-mixin'
@import '../_mixin/transform-mixin'


// large dynamic info view

// .activity-log
//   border-top: $border_ltgrey
//   padding: em(10px) 0 em(10px) 0

// h4[class="activity-title"]
//   color: $color-font-accent

// p[class="activity"]
//   color: $color-font-primary

// .view-event
//   @include flexbox
//   flex-wrap: wrap
//   align-items: flex-start
//   border-top: $border_ltgrey
//   margin-right: em(20px)

.image-drop
  color: $color-accent
  width: 100%
  justify-content: flex-start
  padding: em(10px) 0 em(10px) 0
  @include flexbox

.drop-images
  padding: em(50px)
  @include justify-content($value: center)

.drop-box
  background-color: red
  height: em(250px)
  width: em(450px)

// .e-gallery
//   float: left
//   vertical-align: top
//   height: em(150px)
//   width: em(150px)
//   margin: em(5px)
//   background-color: $color-drkgrey
//   @include border-radius(5px)


// h5[data-type="edit-event"]
//   text-align: right
//   width: 50%
//   justify-content: flex-end
//   padding: em(10px) 0 em(10px) 0
//   a
//     color: $color-teal
//     &:hover
//       color: $color-font-primary
//       text-decoration: underline

// h5[data-type="edit-event"]:after
//   font-family: FontAwesome
//   content: " \f040"
//   color: $color-drkgrey
//   padding-right: em(20px)
//   padding: em(10px) 0 em(10px) 0

// .gallery-grid
//   flex-direction: row
//   flex-wrap: wrap

// .e-gallery
//   float: left
//   vertical-align: top
//   height: em(150px)
//   width: em(150px)
//   margin: em(5px)
//   background-color: $color-drkgrey
//   @include border-radius(5px)

