@import '../_mixin/vertical-align-mixin'
@import '../_mixin/input-placeholder-mixin'
@import '../_global/variables'
@import '../_mixin/flexbox-mixin'
@import '../_mixin/border-radius-mixin'
@import '../_utility/em-function'
@import '../_mixin/transition-mixin'
@import '../_mixin/transform-mixin'

//  view event info bar

.vw-event-container
	@include flexbox
	@mixin flex-just($value: center)
	padding-left: 50px
	padding-right: 50px
	width: 100%


.single-event
	@include flex-shrink($int: 1)
	width: 100%
	padding: 0

.event-header
	background-color: $color-primary
	padding: em(20px) 0
	padding-left: em(5px)
	color: white
	text-transform: uppercase
	letter-spacing: 1px

.event-info
	@include flexbox
	@include flex-direction($value: column)
	h4
		width: 100%
		text-align: left
		padding: em(10px) 0
		padding-left: em(5px)
		color: $color-font-primary
		strong
			text-transform: uppercase
			color: $color-primary

//search results icon
.back-results
	display: flex
	flex-flow: row nowrap
	justify-content: flex-end
	text-transform: uppercase
	font-size: 16px
	font-weight: $font-weight--bold
	letter-spacing: 1px
	color: $color-primary
	img
		width: 45px
		height: 18px




ol[data-type="event-details"]
	width: 100%
	text-align: left

// image gallery template cards

.thumb-gallery
	@include flexbox

.single-thumb
	@include flex-direction($value: flex-start)
	padding: em(20px) em(20px)
	width: em(225px) // scale down to this size thumb
	border: 3px solid $color-drkgrey
	margin-right: em(10px)
	&:hover
		border: 3px solid $color-accent


.img-template
	width: 100%

label[for="view-input"],
label[for="view-text"]
	font-weight: $font-weight--normal
	text-transform: uppercase
	text-align: left
	color: $color-dkorange
	font-size: em(8px)

.view-input
	font-size: em(8px)

.single-event,
.thumb-gallery
	width: 100%
	justify-content: flex-start
	border-top: em(3px) solid #eaeaed

.thumb-gallery
	padding: em(20px) 0

