@import '../_mixin/vertical-align-mixin'
@import '../_mixin/input-placeholder-mixin'
@import '../_global/variables'
@import '../_mixin/flexbox-mixin'
@import '../_mixin/clearfix-mixin'
@import '../_utility/em-function'
@import '../_global/icons'


.detail-image-container
  @include flexbox
  @include justify-content($value: flex-center)
  padding-bottom: 10px
  width: 100%
  justify-content: center
  align-items: center
  background-color: white
  img
    max-height: 291px


label[for="item-info"],
  font-size: $base__font-size
  text-transform: uppercase
  font-weight: $font-weight--bold
  color: $color-font-accent

#view-title,
#view-description,
#view-condition,
  font-size: $base__font-size
  color: $color-font-primary
